*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    line-height: 1.35;
    color: #394155;

    @media only screen and (max-width: 1200px) {
        font-size: 18px;
    }
}

.page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 1490px;
    margin: 0 auto;
    padding: 0 40px;

    @media only screen and (max-width: 576px) {
        padding: 0 16px;
    }
}

@keyframes skeletonSlide {
    from {
        left: -100px;
    }
    to {
        left: calc(100% + 100px);
    }
}