*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    line-height: 1.35;
    color: #394155;

    @media only screen and (max-width: 1200px) {
        font-size: 18px;
    }
}

@keyframes skeletonSlide {
    from {
        left: -100px;
    }
    to {
        left: calc(100% + 100px);
    }
}